.header {
  position: fixed;
  height: 85px;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  z-index: 10;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.26);
}

.burgerBtn {
  display: none;
}

/* mobile */
@media (max-width: 960px) {
  .burgerBtn {
    display: block;
    font-size: 2rem;
  }
}
