.header {
  position: fixed;
  height: 85px;
  width: 100%;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  border-bottom: 1px solid lightgray;
}

.container {
  max-width: 1200px;
  padding: 0.7rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

.burgerBtn {
  display: none;
}

/* mobile */
@media (max-width: 800px) {
  .burgerBtn {
    display: block;
    font-size: 2rem;
  }
}
