* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: default;
  background: whitesmoke;
}
.app {
  min-width: 250px;
  min-height: 200vh;
}

img {
  max-height: 100%;
  max-width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}
